.photo{
    width:100px;
    height:100px;
}
.button{
    padding: 4px 12px;
    background: #006bb3;
    color: #dddddd;
}
#list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.title{
    background: #006bb3;
    color: white;
}
#post_title{
    padding: 12px;
    color: #006bb3;
}

#post tr td{
    padding: 10px;
    text-align: center;
    border: 1px solid #dddddd;
}
#post tr{
    padding-bottom: 12px;
}

#list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align:center;
}
#list tr:nth-child(even){background-color: #f2f2f2;}
#list tr:hover {background-color: #ddd;}
#list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #006bb3;
    color: white;
}